h1 Palindrome Finder

form(action="/" method="POST")
  label(for="palindrome") Please enter a string
  <br />   
  input(name="palindrome")
  input(type="submit" value="Submit")
    
a(href="/palindromes") Check out the Palindromes
  
